.popular {
    border-bottom: 1px solid rgb(68, 68, 68);
    padding-bottom: 5rem;
    background-color: #1B002A;
    padding-top: 4rem;
    .popular-title {
        padding-bottom: 1.5rem;
        h2 {
            color: white;
            font-size: 28px;
        }
        p {
            font-size: 20px;
            color: white;
        }
    }
    .popular-bottom {
        padding-top: 10rem;
    }
    .popular-img {
        cursor: pointer;
    }
    .popular-title1 {
        padding-bottom: 3rem;
        h1 {
            font-size: 34px;
        }
    }
}